<div class="task-list">

  <input type="text" [(ngModel)]="newTaskDescription" placeholder="Neue Aufgabe hinzufügen">
  <button (click)="addTask()">Hinzufügen</button>

  <div>
    <label>
      <input type="radio" name="filter" value="all" [(ngModel)]="filter"> Alle
    </label>
    <label>
      <input type="radio" name="filter" value="active" [(ngModel)]="filter"> Aktiv
    </label>
    <label>
      <input type="radio" name="filter" value="completed" [(ngModel)]="filter"> Erledigt
    </label>
  </div>

  <ul>
    <li *ngFor="let task of filteredTasks">
      <app-task-item [task]="task"></app-task-item>
    </li>
  </ul>
</div>